* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}

.scroll-container {
    width: 500px;
    padding: 10px;
    display: grid;
    flex-flow: row;
    overflow-x: auto;
    border-radius: 50rem;
    grid-auto-flow: column;
    border: 3px solid white;
    background-color: black;
}

.scroll-container::-webkit-scrollbar {
    display: none;
}

.scroller-item {
    width: 100px;
    height: 100px;
    margin: 0.5rem;
    cursor: pointer;
    border-radius: 50%;
    position: relative;
    border: 2px solid white;
}

.scroller-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    transition: all 0.2s linear;
}

.scroller-item img:hover {
    transform: scale(1.1);
}